#music-player .card-img {
  background-image: url("../assets/imgs/smw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#music-player .actions {
  background: rgba(60, 58, 190, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

@media only screen and (max-width: 768px) {
  #music-player .actions {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}
